# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite
.DS_Store
media/
staticfiles/
*.mo
*.po

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDE
.vscode/
.idea/
*.swp
*.swo